<a href="https://colab.research.google.com/github/jospeez/dataframe-exercise/blob/exercises/dataframe_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [ ]:
import pandas as pd

# Step 1: Create DataFrame
data = {
    "PlayerID": range(11, 22),
    "Players": ["KennyS", "Xyp9x", "GuardiaN", "NiKo", "Flusha", "ZywOo", "Dev1ce", "brax", "S1mple", "shroud", "m0NESY"],
    "Country": ["France", "Denmark", "Slovakia", "Bosnia", "Sweden", "IDK", "Denmark", "USA", "Ukraine", "Canada", "Russia"],
}
df = pd.DataFrame(data)

# Step 2: Show first 5 rows
print(df[1:6])

# Step 3: Print DataFrame shape
print("\nShape:", df.shape)

# Step 4: Show column names
print("\nColumns:", df.columns)

   PlayerID   Players   Country
1        12     Xyp9x   Denmark
2        13  GuardiaN  Slovakia
3        14      NiKo    Bosnia
4        15    Flusha    Sweden
5        16     ZywOo       IDK

Shape: (11, 3)

Columns: Index(['PlayerID', 'Players', 'Country'], dtype='object')

In [38]:
import pandas as pd

# Step 1: create dataframe (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)
print("1. ------------------------------------")
#Step 2: show first 5 rows
print(df[1:6])

#Step 3: print dataframe shape - Ans 1: number of rows and columns
num_rows, num_cols = df.shape
print("\nShape:", df.shape)
print(f"Rows: {num_rows}")
print(f"Columns: {num_cols}")

#Step 4: print column names - Ans 2: column names
print("\nColumn Names:", df.columns)
print("\n")

#-----------------------------------------------------------#
print("2. ------------------------------------")
#Step 0: add total column
df["Total"] = df["Quantity"] * df["Price"]

#Step 1: add discount column (10% if quantity >= 5 else 0)
df["Discount"] = df["Total"].where(df["Quantity"] >= 5, 0) * 0.10

#Step 2: add finaltotal column (total - discount)
df["FinalTotal"] = df["Total"] - df["Discount"]

#Step 3: show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())
print("\n")

#-----------------------------------------------------------#
print("3. ------------------------------------")

#Step 1: create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

#Step 2: append to dataframe
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

#Step 3: recalculate total
df["Total"] = df["Quantity"] * df["Price"]

#Step 4: show last 3 rows
print(df.tail(3))
print("\n")
print("4. ------------------------------------")

# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"])
print("\n")
print("5. ------------------------------------")

# Step 1: Drop Discount column
df = df.drop(columns=["Discount"])

# Step 2: Drop FinalTotal column
df = df.drop(columns=["FinalTotal"])

# Step 3: Show updated DataFrame
print(df.head())
print("\n")
print("6. ------------------------------------")

# Step 1: Drop row with OrderID = 1010
df = df.drop(df[df["OrderID"] == 1010].index, axis=0)

# Step 2: Drop the first row by index
df = df.drop(index=0)

# Step 3: Print new shape
print("New shape:", df.shape)
print("\n")
print("7. ------------------------------------")

# Step 1: Electronics with Quantity >= 3
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print(result1)

# Step 2: Products with Price > 500
result2 = df[df["Price"] > 500]
print(result2)

# Step 3: Count orders from North region
count_north = df[df["Region"] == "North"].shape[0]
print("North orders:", count_north)
print("\n")
print("8. ------------------------------------")

# Step 1: Sales in West region
west_sales = df[df["Region"] == "West"]
print(west_sales)

# Step 2: Sales by Alice
alice_sales = df[df["Customer"] == "Alice"]
print(alice_sales)

# Step 3: Sales of Laptop or Printer
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print(subset_sales)
print("\n")
print("9. ------------------------------------")

# convert price column to float
df["Price"] = df["Price"].astype("float64")

# Step 1: Increase Price of Furniture by 10%
df.loc[df["Category"] == "Furniture", "Price"] *= 1.10

# Step 2: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Furniture rows
print(df[df["Category"] == "Furniture"])
print("\n")
print("10. ------------------------------------")

# Step 1: Sort by Total descending
sorted_df = df.sort_values(by="Total", ascending=False)
print(sorted_df.head())

# Step 2: Show top 5 sales
print(sorted_df.head(5))

# Step 3: Multi-level sort (Region then Customer)
multi_sort = df.sort_values(by=["Region", "Customer"])
print(multi_sort.head())
print("\n")
print("PART 2. ------------------------------------")

1. ------------------------------------
   OrderID     Product     Category  Quantity  Price Customer Region
1     1002       Mouse  Accessories         5     20      Bob  South
2     1003    Keyboard  Accessories         3     50  Charlie   East
3     1004     Monitor  Electronics         4    200    Diana   West
4     1005      Laptop  Electronics         1    850    Ethan  North
5     1006  Headphones  Accessories         6     40    Fiona  South

Shape: (20, 7)
Rows: 20
Columns: 7

Column Names: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region'],
      dtype='object')


2. ------------------------------------
   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600       0.0      1600.0
1     1002     Mouse    100      10.0        90.0
2     1003  Keyboard    150       0.0       150.0
3     1004   Monitor    800       0.0       800.0
4     1005    Laptop    850       0.0       850.0


3. ------------------------------------
    OrderID  Product     Category  Quantity  Price Customer Region  Total  \
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
18       0.0       110.0
19     108.0       972.0
20       NaN         NaN


4. ------------------------------------
    OrderID Product     Category  Quantity  Price Customer Region  Total  \
1      1002   Mouse  Accessories         5     30      Bob  South    150
6      1007   Mouse  Accessories        10     30   George   East    300
13     1014   Mouse  Accessories         7     30     Nina  South    210

    Discount  FinalTotal
1       10.0        90.0
6       25.0       225.0
13      14.0       126.0


5. ------------------------------------
   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     30      Bob  South    150
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850


6. ------------------------------------
New shape: (19, 8)


7. ------------------------------------
    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1004  Monitor  Electronics         4    200    Diana   West    800
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
17     1018  Monitor  Electronics         4    220   Robert  South    880
    OrderID Product     Category  Quantity  Price Customer Region  Total
4      1005  Laptop  Electronics         1    850    Ethan  North    850
14     1015  Laptop  Electronics         5    750    Oscar   East   3750
North orders: 4


8. ------------------------------------
    OrderID     Product     Category  Quantity  Price Customer Region  Total
3      1004     Monitor  Electronics         4    200    Diana   West    800
7      1008       Chair    Furniture         2    150   Hannah   West    300
11     1012    Keyboard  Accessories         4     55    Laura   West    220
15     1016  Headphones  Accessories         3     35     Paul   West    105
19     1020       Chair    Furniture         6    180      Tom   West   1080
Empty DataFrame
Columns: [OrderID, Product, Category, Quantity, Price, Customer, Region, Total]
Index: []
    OrderID  Product     Category  Quantity  Price Customer Region  Total
4      1005   Laptop  Electronics         1    850    Ethan  North    850
10     1011  Printer  Electronics         2    120     Kyle   East    240
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
18     1019  Printer  Electronics         1    110    Sarah   East    110


9. ------------------------------------
    OrderID Product   Category  Quantity  Price Customer Region   Total
7      1008   Chair  Furniture         2  165.0   Hannah   West   330.0
8      1009    Desk  Furniture         1  330.0      Ian  North   330.0
16     1017    Desk  Furniture         2  308.0    Queen  North   616.0
19     1020   Chair  Furniture         6  198.0      Tom   West  1188.0


10. ------------------------------------
    OrderID  Product     Category  Quantity  Price Customer Region   Total
14     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1020    Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
17     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
4      1005   Laptop  Electronics         1  850.0    Ethan  North   850.0
    OrderID  Product     Category  Quantity  Price Customer Region   Total
14     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1020    Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
17     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
4      1005   Laptop  Electronics         1  850.0    Ethan  North   850.0
    OrderID   Product     Category  Quantity  Price Customer Region   Total
2      1003  Keyboard  Accessories         3   50.0  Charlie   East   150.0
6      1007     Mouse  Accessories        10   30.0   George   East   300.0
10     1011   Printer  Electronics         2  120.0     Kyle   East   240.0
14     1015    Laptop  Electronics         5  750.0    Oscar   East  3750.0
18     1019   Printer  Electronics         1  110.0    Sarah   East   110.0


PART 2. ------------------------------------

In [ ]:
pri